body {
  a {
    text-underline-offset: 0.2rem;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(3, 6, 10);
    filter: hue-rotate(180deg) invert(90%);
    a {
      color: rgb(68, 147, 248);
    }
  }
}

@media (max-width: 768px) {
  #main {
    font-size: 1.1em; /* Increase font size by 20% */
  }
}
