@media (prefers-color-scheme: dark) {
  body {
    background-color: #0d1117;
    filter: hue-rotate(180deg) invert(90%);
    a {
      color: #4493f8;
      text-underline-offset: 3px;
    }
  }
}

@media (max-width: 768px) {
  a, p {
    font-size: 1.2em; /* Increase font size by 20% */
  }
}